body,
.container {
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    margin: 5%;
}

.sedans {
    background-color: hsl(31,77%,52%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.texto {
    font-family: Lexend Deca;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 40%;
    font-size: 15px;
}

.titulo {
    font-family: Big Shoulders Display;
    font-weight: 800;
    color: hsl(0, 0%, 95%);
}

footer {
    text-align: center;
}

.suvs,
.luxury,
.sedans {
    max-height: 100vh;
    min-height: 50vh;
    width: 24vh;
    padding: 10px;
    padding: 50px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: white;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    font-family: Lexend Deca;
    font-size: 15px;
    padding: 5px 10px;
}

.sedans a.button {
    color: hsl(31,77%,52%);
}

.suvs a.button {
    color: hsl(184, 100%, 22%);
}

.luxury a.button {
    color: hsl(179, 100%, 13%);
}

a.button:hover {
    background-color: transparent;
    color: white
}


@font-face{
    font-family: Lexend Deca; 
    src: url(lexendDeca.ttf)
  }

@font-face {
    font-family: Big Shoulders Display;
    src: url(BigShouldersDisplay-VariableFont_wght.ttf);
}